
.ws{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.pri{
    background-color: #063130;
    /* color: #E8E1CE; */
    /* White #E8E1CE; */
    /* beige #B6AB91; */
    /* light beige #e8e1ceb0 */
}

/* shared style */
.d-flex{
    display: flex;
}
.t-c-w{
color: #e8e1ce;
}

.t-c-g{
    color: #e8e1ceb0;
}

.t-c-g{
    color: #063130;
}


.btn-pri{
    background-color: #F28500;
    color: #ece8dc;
    padding: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;

}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.o-tit{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 30px;
}



/* header */

.brand{
    font-size: 3rem;
    font-weight: bold;
}

.bg-color{
    background-color: #E8E1CE;
}

.navbar{
    align-items: center;
    justify-content: space-between;
    padding: 30px;

}


.nav-item{
    list-style: none;
    margin-right: 30px;

}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;

}

.ban-con{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.ban-t{
    font-weight: 700;
    font-size: 4rem;
}

.ban-img{
    width: 100%;
    padding-bottom: 0px;
}
.btn-pri{
    margin-top: 8px;
}
/* main */



#our-f-a{
    font-weight: 500;
    color: #e8e1ce6b;
}
#our-f-c{
    color: #f28500cb;
}
.f-des{
    color: #e8e1ce6b;
    padding-bottom: 40px;
}

.teams{
    align-items: center;
}
.t-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-f{
    margin-left: 130px;
    max-width: 530px;
}
/* .our-f{
    text-align: center;
    margin-top:300px;
} */



/* f */
.features{
    gap: 140px;
}

#o-bod{
    border-left: 5px solid #F28500;
    padding-left: 20px;
   
}

.f-d{
    color: #e8e1ceb0;
}

.f-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(255, 128, 0, 0.291);
    margin-bottom: 20px;
    
}
.f-card .f-c-tit{
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.f-card p{
    color: #e8e1ceb0;
}




/* fact */


.facts-con{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.fact{
    border: 1px solid #F28500;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
    padding-top: 35px;
    
}

.fact-no{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    color: #e8e1ceb0;

}
#fact-des{
    max-width: 540px;
    color: #e8e1ceb0;
    text-align: center;
    margin-top: 0px;
}

/* sponsor */

/* .sponsors{
    max-width: 1140px;
    justify-items: center;
    align-items: center;
} */

.some-head{
    max-width: 1440px;
    justify-items: center;
    align-items: center;
}

.s-tit{
    font-weight: 600;
    font-size: 1.2rem;
}
.s-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.s-com{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
}

.s-com img{
    filter: grayscale(100%);
}

/* media querry */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    
    .t-img, .facts-con, .s-com {
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-con, .s-com{
        justify-items: center;
        gap: 24px;
        
    }
    .our-f{
        text-align: center;
        margin-left: 10px;
    }
}









@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-f{
        margin: 50px auto;
        text-align: center;
    }

    .s-com, .facts-con{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}
